.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.imgDimn{
  width: 900px;
  height: 700px;
}
.bcImage {
  /* background-image: url('https://images.pexels.com/photos/1001914/pexels-photo-1001914.jpeg'); */
  background-image: url('https://as2.ftcdn.net/jpg/02/57/03/37/500_F_257033773_bWePCbifvglTauvCwHY3rluphWWbKjcm.jpg');
  /* background-image: url('https://images.pexels.com/photos/2790771/pexels-photo-2790771.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940'); */
  /* background-size: 100% 100%; */
  background-size: cover;

}