.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.imgDimn {
  width: 100vw;
  height: 100vh;
}
.bcImgParent {
  background-image: url("https://as2.ftcdn.net/jpg/02/57/03/37/500_F_257033773_bWePCbifvglTauvCwHY3rluphWWbKjcm.jpg");
  background-size: cover;
  z-index: -1;
  /* position: fixed; */
}
.bcImage {
  /* background-image: url('https://images.pexels.com/photos/1001914/pexels-photo-1001914.jpeg'); */
  /* background-image: url('https://as2.ftcdn.net/jpg/02/57/03/37/500_F_257033773_bWePCbifvglTauvCwHY3rluphWWbKjcm.jpg'); */
  /* background-image: url('https://lh3.googleusercontent.com/kk8teH8umG0HdoNRAqdK0cNGw-HyhdhHjf6EyTJwdSa7EWzuJkyT1epD-R-KgT1wdFzFyjAR=w1080-h608-p-no-v0'); */
  /* background-image: url('https://images.pexels.com/photos/2790771/pexels-photo-2790771.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940'); */
  /* background-size: 100% 100%; */

  /* background-image: url('https://images.unsplash.com/photo-1503676260728-1c00da094a0b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1909&q=80'); */
  background-image: url("https://images.unsplash.com/photo-1515488042361-ee00e0ddd4e4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2854&q=80");
  background-size: cover;
  z-index: -1;
 
}
.activities {
 
  text-align: center;
  
}
.leftAlign {
  text-align: left;
}
.mrgnLeft {
  margin-left: 120px;
}
.mrgnRight {
  margin-right: 10px;
}
.dayContainer {
  text-align: center;
  margin-top: 290px;
  /* width: 300px;
  height: 200px;
  background-color: white;
  outline: 1px solid black; */
}
.headerFont {
  font-weight: bold;
}
.bcTeacher {
  background-color: rgb(117, 150, 151);
}
.greenName {
  color: green;
}
.redName {
  color: red;
}

.makeColumn {
  display: flex;
  flex-direction: column;
}

.actMargin {
  margin-top: 70px;
  margin-left: 30px;
}